<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Preidksi Gender</h1>
        <form action="/gender">
            <input type="submit" value="Prediksi" />
        </form>
    </div>

    <div>
        <h1>Preidksi Usia</h1>
        <form action="/age">
            <input type="submit" value="Prediksi" />
        </form>
    </div>

    <div>
        <h1>Preidksi Ekspresi</h1>
        <form action="/ekspresi">
            <input type="submit" value="Prediksi" />
        </form>
    </div>
    
</body>
</html>
<!-- <img id="webcam_gender" src="{{url_for('webcam_1')}}"> -->
