<html>
<head>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Search Engine Sederhana</h1>
    <form method="POST" action="/word">
        <input type="text" name="word_input">
        <input type="submit" value="Submit">
      </form>

    <h2>{{word_result}}</h2>


    <!-- <h1>Cari Kata</h1>
    <form method="POST" action="/sentiment">
        <input type="text" name="sentiment_text_input">
        <input type="submit" value="Submit">
      </form>

    <h2> {{sentiment_result}} </h2> -->


</body>

</html>